
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
}

main {
    min-height: 100vh;
    background-color: #FFCC00;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* styling the header */
header nav {
    margin: 25px;
    display: flex;
    justify-content: space-between;
}
header #logo {
    font-size: 1.75em;
    font-weight: bold;
    user-select: none;
    font-style: italic;
}
header nav ul {
    display: flex;
}
header nav ul li {
    margin: 0 15px;
    list-style: none;
}
header nav ul li a {
    color: #545454;
    font-size: 1.15em;
    transition: color 0.5s ease;
}
header nav ul li a:hover {
    color: #000;
}


.search-container .search-input {
    border: none;
    font-size: 1.15em;
    background-color: inherit;
    border-bottom: 1.5px solid #000;
}
.search-input:focus {
    outline: none;
}
.search-container button {
    border: none;
    background: inherit;
}
.search-icon {
    cursor: pointer;
    margin: 0px 15px;
    color: #545454;
    font-size: 1.15em;
    transition: all 0.5s ease;
}
.search-icon:hover {
    color: #000;
    transform: scale(1.25);
}

.none {
    display: none;
}

/* styling the section 1 */
.section-1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.text-container h1 {
    font-size: 4.5em;
    user-select: none;
    animation: slide-in 1s ease-in-out forwards;
}
h1 span {
    font-style: italic;
}
.text-container p {
    margin: 25px 10px;
    font-size: 1.15em;

    opacity: 0;
    animation: slide-in 1s ease-in-out forwards;
}

@keyframes slide-in {
    from {
      transform: translateX(50%);  /* Start from 100% off-screen (right) */
      opacity: 0;
    }
    to {
      transform: translateX(0);  /* Animate to its final position */
      opacity: 1;
    }
}

.section-1 img {
    height: 75vh;
    user-select: none;
    transition: transform 0.2s ease;
}
img:hover {
    transform: scale(1.1);
}


/* styling the section 2 */
.section-2 {
    margin: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-2 .sec-2-text p {
    user-select: none;
}

.social-media .fa-brands {
    margin: 0 15px;
    color: #545454;
    font-size: 1.75em;
    transition: all 0.5s ease;
}
.fa-brands:hover {
    color: #000;
    transform: scale(1.1);
}



/* styling the search item container */
.search-items {
    position: absolute;
    top: 8vh;
    right: 8vw;

    cursor: pointer;
    background: #000;
    padding: 15px 25px;
    border-radius: 8px;
}
.search-items a {
    color: #ffffff;
    text-decoration: none;
}
.search-items p {
    padding: 5px 20px;
    font-size: 1.15em;
    transition: color 0.095s ease;
}
.search-items p:hover {
    color: #FFCC00;
}